{% extends 'base.html.twig' %}

{% block title %}
	Profile de @{{user.username}}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/show.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/post.js') }}" defer></script>
{% endblock %}

{% block body %}
	{% include 'back.html.twig' %}
	<div class="flex flex-wrap flex-col mt-2 relative">
		{% if is_granted('ROLE_USER') %}
			{% if app.user.username == user.username %}
				<a href="{{path('app_edit_profile_index')}}" class="absolute top-0 right-0 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-fit">Editer le profil</a>
			{% endif %}
		{% endif %}
		{{ include('profile/_showprofile.html.twig') }}
		<div class="border mt-3">
			<div class="flex col w-auto bg-blue-300 flex-wrap ">
				<a href="{{path('app_profile', {'username': user.username, 'tabs': 1})}}" class="text-white font-bold p-3 flex-1 text-center flex items-center gap-2 justify-center {% if tabs == 1 %} bg-blue-500{% else %} bg-blue-300 {% endif %}
																	          ">
					<i class="fab fa-twitter"></i>
					Tweets
				</a>
				<a href="{{path('app_profile', {'username': user.username, 'tabs': 2})}}" class=" text-white font-bold p-3 flex-1 text-center flex items-center gap-2 justify-center 
																	          {% if tabs == 2 %} bg-blue-500
																	          {% else %} bg-blue-300 {% endif %}">
					<i class="fas fa-heart"></i>
					Likes
				</a>
				<a href="{{path('app_profile', {'username': user.username, 'tabs': 3})}}" class=" text-white font-bold p-3 flex-1 text-center flex items-center gap-2 justify-center 
																	          {% if tabs == 3 %} bg-blue-500
																	          {% else %} bg-blue-300 {% endif %}">
					<i class="fas fa-retweet"></i>
					Retweets
				</a>
				<a href="
														          {{path('app_profile', {'username': user.username, 'tabs': 4})}}" class="text-white font-bold p-3 flex-1 text-center flex items-center gap-2 justify-center 
																	          {% if tabs == 4 %} bg-blue-500
																	          {% else %} bg-blue-300 {% endif %}
																	          ">
					<i class="fas fa-reply"></i>
					Réponses
				</a>
			</div>
			<div class="mb-3 mt-3">
				{% include '/components/profile_tabs.html.twig' with {'tabs': tabs} %}
			</div>
		</div>
	</div>
{% endblock %}
