{% extends 'base.html.twig' %}

{% block title %}
Posts
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/post.css') }}">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/basic.js') }}"></script>
<script src="{{ asset('js/preview.js') }}" defer></script>
<script src="{{ asset('js/autocomplete.js') }}"></script>
<script>
    window.onload = function() {
        getCompletion("new_tweet_contenu", {{ username_list | json_encode | raw }}, {{ hashtag_list | json_encode | raw }}, "users");
        
        imagePreview();
    }
</script>
{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
    {% include('search/_search.html.twig') %}
    <div class="border border-[var(--border-color)] p-2">
    {{form_start(form, {'enctype': 'multipart/form-data'})}}
    {% if errors | length > 0 %}
        <div class="p-5 border border-blue-500 text-blue-500 font-bold mb-5">
            {% for error in errors %}
                {{error.message}}
            {% endfor %}
        </div>
    {% endif %}
    
    {{form_widget(form.contenu)}}
     <div class="text-sm text-[var(--text-color)] font-semibold cursor-pointer
        
        py-2 px-[.67rem] border border-[var(--text-color)] rounded-[100rem]  focus:outline-none w-fit ">
    <label id="label_image" for="new_tweet_image">
    <i class="fas fa-image cursor-pointer"></i>
    </label>
    {{form_widget(form.image)}}

    <div id="preview" class="[&:not(&:empty)]:my-2"></div>
    </div>
    <div id="users" class="[&:not(&:empty)]:my-2 flex flex-wrap gap-x-2"></div>
    <div class="flex justify-end">
    <button type="submit" class="btn bg-blue-400 rounded-full px-4 py-2 font-bold text-[var(--inverted-text-color)] hover:bg-blue-500
    
    ">Tweeter</button></div>
    </div>
    {{form_end(form)}}
    {% endif %}
    
    <div class="border border-[var(--border-color)] sm:mt-4">
    <div class="flex justify-between flex-wrap bg-blue-400 ">
    <a href="/" class="
    {% if tabs %}bg-blue-400{% else %}bg-blue-500{% endif %}
     px-4 py-2 font-bold text-[var(--inverted-text-color)] flex-1 hover:bg-blue-500 transition-all duration-300
    ">Tweets</a>
    <a href="/?tabs=1" class="bg-blue-400 px-4 py-2 font-bold text-[var(--inverted-text-color)] flex-1 flex items-center gap-2 hover:bg-blue-500 transition-all duration-300
     {% if tabs %}bg-blue-500{% else %}bg-blue-400{% endif %}
    ">
    <i class="fas fa-user"></i>
    Abonnements</a>
    <a href="Javascript:void(0)" class="bg-blue-400 px-4 py-2 font-bold text-[var(--inverted-text-color)]  flex items-center gap-2 hover:bg-blue-500 transition-all duration-300 max-sm:flex-1
   
    " onclick="reload()">
    <i class="fas fa-sync-alt"></i>
    Rafraichir</a>
    </div>
    <div class="post_container [&>*]:border-b [&>*]:border-[var(--dark-border-color)]">
    {% for post in posts %}
    {{ component('post', {post: post, showcomments: 1, redirect: 1}) }}
    {% else %}
    {% if tabs %}
    <div class="text-center">
    Il n'y a pas encore de post, suivez des utilisateurs pour voir leurs posts !
    </div>
    {% else %}
    <div class="text-center">
    Il n'y a pas encore de post, soyez le premier à en poster un !
    </div>
    {% endif %}
    {% endfor %}
    
    </div>
    </div>
{% endblock %}