
{% extends 'base.html.twig' %}

{% block title %}
Posts #{{ post.id }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/show.css') }}">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/post.js') }}" defer></script>
<script src="{{ asset('js/autocomplete.js') }}"></script>

<script>
    window.onload = function() {
        getCompletion("new_commentaires_contenu", {{ username_list | json_encode | raw }}, "users");
    }
</script>
{% endblock %}

{% block body %}

        {% include('back.html.twig') %}
        <div class="border border-[var(--border-color)] ">
            {% if is_granted('ROLE_USER') %}
            <div class="border border-[var(--text-color)] ">
    
         {% if (post.createdBy == app.user) or (is_granted('ROLE_ADMIN')) %} 
         <form class="relative" action="{{ path('app_post_delete', {'id': post.id}) }}" method="POST" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer définitivement ce tweet ?');">
            <button class="max-sm:ml-2 max-sm:mt-2 px-1 font-bold top-4 right-4 text-red-500 border border-red-500 sm:absolute text-xs z-10 flex items-center gap-1">
            {% if is_granted('ROLE_ADMIN') %}
            [<i class="fas fa-user-shield text-xs"></i>]
            {% else %}
            [<i class="fas fa-trash-alt text-xs"></i>]
            {% endif %}
            Supprimer le tweet</button>
        </form>
        {% endif %}
        {{ component('post', {post: post, showcomments: 0, redirect: 0}) }}

            {% endif %}
        <div class="border border-[var(--border-color)] p-2">
        {{form_start(form)}}
    
    {% if errors | length > 0 %}
        <div class="p-5 border border-blue-500 text-blue-500 font-bold mb-5">
            {% for error in errors %}
                {{error.message}}
            {% endfor %}
        </div>
    {% endif %}
    {{form_widget(form.contenu, {'attr': {'placeholder': 'Répondre à @'~post.createdBy.username}})}}
    <div id="users" class="[&:not(&:empty)]:my-2 flex flex-wrap gap-x-2"></div>
    <div class="flex justify-end">
    <button type="submit" class="btn bg-blue-400 rounded-full px-4 py-2 font-bold text-[var(--inverted-text-color)]
    
    ">Tweeter</button></div>
    </div>
            {{form_end(form)}}
            </div>
        <div class="ml-8 mr-1 flex flex-col p-3 relative">
            {% for commentaire in commentaires %}
                <div class="my-1">
                {{ component('commentaires', {commentaire: commentaire, redirect: 0}) }}
                </div>
            {% else %}
                <div class="text-center">
                    Il n'y a pas encore de réponses, soyez le premier à en laisser une !
                </div>
            {% endfor %}
    </div>
    </div>
{% endblock %}