{% extends 'base.html.twig' %}

{% block title %}
Posts #{{ post.id }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/show.css') }}">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/post.js') }}" defer></script>
{% endblock %}

{% block body %}

        {% include 'back.html.twig' %}
        <div class="border">
            {% if is_granted('ROLE_USER') %}
            <div class="border p-2 mb-4">
    {{form_start(form)}}
    
    {% if errors | length > 0 %}
        <div class="p-5 border border-blue-500 text-blue-500 font-bold mb-5">
            {% for error in errors %}
                {{error.message}}
            {% endfor %}
        </div>
    {% endif %}
    {{form_widget(form.contenu, {'attr': {'placeholder': 'Répondre à @'~post.createdBy.username}})}}

    <div class="flex justify-end">
    <button type="submit" class="btn bg-blue-400 rounded-full px-4 py-2 font-bold text-white
    
    ">Tweeter</button></div>
    </div>
            {{form_end(form)}}
         {% if (post.createdBy == app.user) or (is_granted('ROLE_ADMIN')) %} 
         <form action="{{ path('app_post_delete', {'id': post.id}) }}" method="POST" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer définitivement ce tweet ?');">
            <button class="ml-4 mb-4 px-2 font-bold top-2 right-2 text-red-500 border border-red-500">
            {% if is_granted('ROLE_ADMIN') %}
            [<i class="fas fa-user-shield"></i>]
            {% endif %}
            <i class="fas fa-trash-alt"></i>
            Supprimer le tweet</button>
        </form>
        {% endif %}
        {{ component('post', {post: post, showcomments: 0, redirect: 0}) }}

            {% endif %}
        <div class="ml-8 mr-1 flex flex-col p-3 relative">
            {% for commentaire in commentaires %}
                <div class="my-1">
                {{ component('commentaires', {commentaire: commentaire}) }}
                </div>
            {% else %}
                <div class="text-center mt-3">
                    Il n'y a pas encore de réponses, soyez le premier à en laisser une !
                </div>
            {% endfor %}
    </div>
    </div>
{% endblock %}