{{ form_start(form, {'attr': {'class': 'flex flex-col max-w-2xl m-5 gap-2'}, 'enctype': 'multipart/form-data'})}}
        {% if errors|length > 0 %}
        <div class="p-5 border border-red-500 mb-5">
        {% for error in errors %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endfor %}
        </div>
        {% endif %}
        {{ form_widget(form.email) }}
        {{ form_widget(form.username) }}
        {{ form_widget(form.plainPassword) }}
        {{ form_widget(form.bio) }}
        <div class=" w-full text-sm text-[var(--text-color)] font-semibold
        pl-2 border border-gray-300 rounded-lg cursor-pointer focus:outline-none">
         <label for="edit_user_image">Photo de profil (.jpg, .jpeg ou .png)</label>
        {{ form_widget(form.image) }}
        </div>
    <button class="btn border bg-blue-500 text-white font-bold mt-5 rounded-full py-2 w-fit px-4">{{ button_label }}</button>
{{ form_end(form) }}
