<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">

        {% block stylesheets %}
            {% if app.user and app.user.darkmode == 1 %}
            <style>
                :root {
                    --bg-color: #1a1a1a!important;
                    --text-color: #fff!important;
                    --inverted-text-color: #000!important;
                    --border-color: #94a9ad!important;
                }
            </style>
            {% endif %}

            {{ encore_entry_link_tags('app') }}

            
        {% endblock %}

        {% block javascripts %}
          <script src="https://cdn.tailwindcss.com"></script>
            {{ encore_entry_script_tags('app') }}
           
        {% endblock %}
    </head>
    <body class="max-w-6xl mx-auto h-screen bg-[var(--bg-color)] text-[var(--text-color)]">
        <div class="relative flex flex-row ">

        <div class=" flex border border-[var(--inverted-text-color)] h-screen bg-blue-400 flex-col max-sm:items-center sm:basis-3/12 transition-all duration-300 ease-in-out
        ">
        <div class="logo pr-5 pl-5 mt-5 flex gap-4 items-center">
        <i class="fab fa-twitter text-white text-2xl"></i>
        <span class="text-sm max-sm:hidden font-bold text-white">Twitter</span>
        </div>
        <div class="homepage mt-5 ">
            <a href="{{ path('app_post') }}" class=" text-white font-bold px-6 flex gap-4 items-center hover:bg-blue-300 py-5
            ">
            <i class="fas fa-home text-xl"></i>
            <span class="text-sm max-sm:hidden">Accueil</span>
            </a>
        </div>

        
        {% if is_granted('ROLE_ADMIN') %}
        <div class="isadmin">
            <a href="{{ path('admin') }}" class="bg-red-600 text-white font-bold flex gap-4 items-center px-6 py-5 hover:bg-red-700">
            <i class="fas fa-user-shield"></i>
            <span class="text-sm max-sm:hidden">Administation</span>
            </a>
        </div>
        {% endif %}
        
        {% if not (is_granted('ROLE_USER')) %}
        
         <div class="isconnecte mt-auto">
            <a href="{{ path('app_login') }}" class="text-white flex items-center gap-5 hover:bg-blue-300 py-5 px-6"><i class="fas fa-sign-in-alt text-xl"></i>
            <span class="text-sm max-sm:hidden font-bold">Login</span>
            </a>
        </div>
        {% else %}
  <div clas="mt-5">
  <form class="flex items-center gap-3 hover:bg-blue-300 py-5 px-5 cursor-pointer" action="{{ path('app_dark') }}" method="post">
    <input
      class="h-3.5 w-8 appearance-none rounded-[0.4375rem] bg-neutral-300 before:pointer-events-none before:absolute before:h-3.5 before:w-3.5 before:rounded-full before:bg-transparent before:content-[''] after:absolute after:z-[2] after:-mt-[0.1875rem] after:h-5 after:w-5 after:rounded-full after:border-none after:bg-neutral-100 after:shadow-[0_0px_3px_0_rgb(0_0_0_/_7%),_0_2px_2px_0_rgb(0_0_0_/_4%)] after:transition-[background-color_0.2s,transform_0.2s] after:content-[''] checked:bg-black checked:after:absolute checked:after:z-[2] checked:after:-mt-[3px] checked:after:ml-[1.0625rem] checked:after:h-5 checked:after:w-5 checked:after:rounded-full checked:after:border-none checked:after:bg-primary dark:checked:after:bg-primary checked:after:shadow-[0_3px_1px_-2px_rgba(0,0,0,0.2),_0_2px_2px_0_rgba(0,0,0,0.14),_0_1px_5px_0_rgba(0,0,0,0.12)] checked:after:transition-[background-color_0.2s,transform_0.2s] checked:after:content-[''] hover:cursor-pointer"
      type="checkbox"
      role="switch"
      id="flexSwitchCheckDefault" onchange="this.form.submit()" {% if app.user and app.user.darkmode == 1 %} checked {% endif %}
      />
    <label
      class="text-sm max-sm:hidden font-bold text-white"
      for="flexSwitchCheckDefault"
      >Dark</label
    >
    </form>
</div>
        <div class="isconnecte  mt-auto">
            <a href="{{ path('app_logout') }}" class="text-white flex items-center gap-5 hover:bg-blue-300 py-5 px-6">
            <i class="fas fa-sign-out-alt text-xl"></i>
            <span class="text-sm max-sm:hidden font-bold">Logout</span>
            </a>
        </div>
        <div class="profilepicture pb-3">
            <a href="{{ path('app_profile', {'username': app.user.username}) }}" class=" text-white flex items-center gap-5 hover:bg-blue-300 py-5 px-6
            ">
            <img src="{{ asset(images_path ~ app.user.getImagePath()) }}" alt="image" class="h-5 w-5 object-contain rounded-full flex-grow-0 bg-white"> 
            <span class="text-sm max-sm:hidden font-bold">Mon profil</span>
             </a>
        </div>
        {% endif %}
        </div>
        <div class="flex-1 overflow-x-hidden overflow-y-scroll h-screen sm:px-5">
            <div class="sm:mt-5">
        {% block body %}{% endblock %}
            <footer>
                <div class="flex justify-center items-center h-8 bg-blue-400 text-white">
                    <span class="text-sm">Twitter &copy; 2021</span>
                </div>
            </footer>
        </div>
        </div>
        </div>
    </body>
</html>
