<div class="beforeCommentaire showborderCommentaire border rounded-lg border-[var(--text-color)] p-3 flex flex-row gap-3 relative" onclick="document.querySelector('.commentaire_area').focus(); document.querySelector('.commentaire_area').value = '@{{ commentaire.createdBy.username }} ';">
    <img src="{{ asset(images_path ~ commentaire.createdBy.getImagePath())}}" alt="image" class="h-10 w-10 object-cover bg-white rounded-full flex-grow-0">
    <div class="flex-1">
    {% if (commentaire.createdBy == app.user) or (is_granted('ROLE_ADMIN')) %} 
         <form action="{{ path('app_comment_delete', {'id': commentaire.id}) }}" method="POST" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer définitivement ce tweet ?');">
            <button class="px-1 font-bold top-2 right-2 text-red-500 border border-red-500 sm:absolute text-xs flex items-center gap-1 z-10">
            {% if is_granted('ROLE_ADMIN') %}
            [<i class="fas fa-user-shield text-xs"></i>]
             {% else %}
            [<i class="fas fa-trash-alt text-xs"></i>]
            {% endif %}
            Supprimer le tweet</button>
        </form>
    {% endif %}
    <h2 class="text-sm">@{{  commentaire.createdBy.username }} 
    {% include '/components/_following.html.twig' with {'createdBy': commentaire.createdBy} %}
    </h2>
    <p>{{ this.replacedContent(commentaire.contenu) | raw}}</p>
    <div class="flex flex-row gap-3 w-fit">
            <a href="/comment/{{commentaire.id}}/retweet" class="w-fit"><div class="flex items-center gap-1 
            "><i style="width:20px" class="fas fa-retweet  hover:bg-green-300 transition-all rounded-full
            {# on hover only hover the next child #}
            
            {% if commentaire.retweet.contains(app.user) %}
            bg-green-200
            {% endif %}
            "></i><div>{{commentaire.retweet | length}}</div></div></a>
            
            <a href="/comment/{{commentaire.id}}/like" class="w-fit"><div class="flex items-center gap-1 hover:text-red-500 transition-all duration-75
            "><i style="width:20px" class="fas fa-heart   
            {% if commentaire.likes.contains(app.user) %}
            text-red-500
            {% endif %}
            "></i>{{commentaire.likes | length}}</div></a>
            </div>
    </div>
</div>